{% extends "base.html" %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<div class="row">
  {% for news in news_list %}
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">
            <a href="{% url 'news_detail' slug=news.slug %}" class="text-decoration-none">{{ news.title }}</a>
          </h5>
          <p class="card-text">{{ news.content|truncatechars:100 | safe }}</p>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
